################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/학생해시/FileContentIndex/cf6368dc-754e-417e-8329-ac0793e66949.vsidx
/.vs/학생해시/FileContentIndex/0857a436-0b85-47d3-a0cd-7e2f4428d1e9.vsidx
/.vs/학생해시/v17/Browse.VC.opendb
/.vs/학생해시/FileContentIndex/48730600-9d97-4fda-a81e-e5744b450375.vsidx
/.vs/학생해시/FileContentIndex
